.annonce-container {
    margin-left: 28px;
}

.annonce-page-cover {
    width: 97%;
    height: 368px;
    object-fit: cover;
    border-radius: 20px;
}

.annonce-container2 {
    display: flex;
    padding-top: 7px;
}

.annonce-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0.95;    
}

.annonce-h1 {
    color: #ff6e6e;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: -14px;
}

.annonce-h2 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 6px;
}

.host-image {
    border-radius: 50%;
    height: 61px;
    margin-left: 10px;
}

.host-name {
    color: #ff6e6e;
    display: flex;
    align-items: center;
}

.annonce-tags {
    border: 1px solid #ff6060;
    background: #ff6060;
    border-radius: 20px;
    color: white;
    margin-right: 10px;
    padding: 2px 30px 2px 30px;
    font-size: 12px;
}

.annonce-description {
    display: inline-block;
    padding-top: 19px;
}

.chevron {
    position: absolute;
    top: 266px;
    font-size: 40px;
    cursor: pointer;
    color: white;
    height: 56px;
}

.chevron-right {
    right: 47px;
}

.chevron-left {
    left: 47px;
}

.slideshow-total {
    position: absolute;
    bottom: 133px;
    left: 513px;
    color: white;
}