.collapse-container-annonce {
    margin: 20px 0;
  }
  
  .collapse-toggle-annonce {
    background-color: #ff6060;
    color: white;
    padding: 10px 12px;
    border: none;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}
  
  .collapse-content-annonce {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }
  
  .collapse-content-annonce.open {
    height: auto;
  }
  
  .collapse-text-annonce {
    padding: 1px 8px;
    background-color: #fbfbfb;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    margin-left: 77px;
    width: 81%;
    text-align: left;
    }
  
  .chevron-up {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .rotate-left {
    transform: rotate(-180deg);
  }
  
  .rotate-right {
    transform: rotate(0deg); 
  }